In [35]:
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score, roc_curve, auc
import pandas as pd

In [36]:
df = pd.read_csv("C:\\Users\\Anthony\\Pictures\\ml\\supervised-learning\\Twitter-and-Reddit-Sentimental-analysis\\data\\Twitter_Data.csv")
df.head()

                                          clean_text  category
0  when modi promised “minimum government maximum...      -1.0
1  talk all the nonsense and continue all the dra...       0.0
2  what did just say vote for modi  welcome bjp t...       1.0
3  asking his supporters prefix chowkidar their n...       1.0
4  answer who among these the most powerful world...       1.0

In [37]:
df.shape

(162980, 2)

In [38]:
df.isna().sum()

clean_text    4
category      7
dtype: int64

In [39]:
df.dropna(subset=['clean_text'], inplace=True)
df.dropna(subset=['category'], inplace=True)

In [40]:
df.isna().sum()

clean_text    0
category      0
dtype: int64

In [41]:
df.isnull().sum()

clean_text    0
category      0
dtype: int64

In [42]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 162969 entries, 0 to 162979
Data columns (total 2 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   clean_text  162969 non-null  object
 1   category    162969 non-null  float64
dtypes: float64(1), object(1)
memory usage: 3.7+ MB

In [43]:
df.shape

(162969, 2)

In [44]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf_vectorizer = TfidfVectorizer(max_features=5000, ngram_range=(1,2))
X_tfidf = tfidf_vectorizer.fit_transform(df['clean_text'])  # Keep as sparse matrix

In [49]:
X = X_tfidf
y = df['category']

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42, stratify=y)

model = SVC(kernel='linear', probability=True)
model.fit(X_train, y_train)

In [ ]:
# model predictions
y_pred = model.predict(X_test)
y_pred_proba = model.predict_proba(X_test)[:, 1]